html,body{
    width:100%;
    height: 100%;
    
}
body{
    
    position: relative;
}

.container{
    height: auto;
    width: auto;
    padding: 0px !important;
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.imageStyle{
    
   max-height: 60vh;
}

.prevBtn1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.nextBtn1{
    position: absolute;
    top:50%;
    right:0px;
    transform: translateY(-50%);
    cursor: pointer;
}
.pop{
    background-color: aqua;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.clsBtn{
    color: white;
    font-size: 56px !important;
    font-family: Segoe UI Light;
}


* {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }